/* ===================== */
/* LAYOUT GLOBAL */
/* ===================== */


.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
}